# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
.Python

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# IDE files
*.swp
*.swo
.DS_Store
